# Requirements for development.
black==21.5b1
build==0.3.1.post1
flake8==3.9.2
isort==5.8.0
myst-parser[linkify]==0.14.0
pre-commit==2.12.1
pyscaffold==4.0.1  # Installs setuptools-scm etc.
pyscaffoldext-markdown==0.4.1
pyscaffoldext-travis==0.3
pytest==6.2.4
pytest-cov==2.12.0
sphinx==3.5.4  # <4 due to awaiting on this: https://github.com/executablebooks/MyST-Parser/issues/378
sphinx-rtd-theme==0.5.2
tox==3.23.1
# tox-conda==0.8.0  # Optional, for developing using conda environments.
twine==3.4.1
